
<h1>Cat Burgers</h1>

<hr>
<h2>Order up:</h2>

<ul>
    {{#each burgers}}
    {{#unless sleepy}}
        {{> burgers/cat-block sleep=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2><del>[del]</del></h2>

<ul>
    {{#each burgers}}
    {{#if sleepy}}
        {{> burgers/cat-block sleep=false}}
    {{/if}}
    {{/each}}
</ul>

<hr>
<h2>Create a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label><br>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="sleepy"><del>Sleepy?</del></label><br>
        <input type="radio" name="sleepy" value="1" checked><del> Sleepy!</del><br>
        <input type="radio" name="sleepy" value="0"><del> Awake</del>
    </div>

    <button type="submit">Create</button>
</form>

