
<header>
<h1>Cat Burgers</h1>
</header>

<div class="flex-container">
    <div id="order">
        <h2>Order up:</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div id="cat">
        <h2>Burgers eaten</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="new">
    <div id="catPic">
        <img src="https://placekitten.com/g/400/400" alt="kitties">
    </div>
    <div class="overlay">
        <h2>Create a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="burg">Give it a name:</label><br>
                <input required type="text" id="burg" name="name">
            </div>

            <div class="form-group">
                <label for="devoured"></label><br>
                <input class="hidden" type="radio" name="devoured" value="1" checked>
                <input class="hidden" type="radio" name="devoured" value="0">
            </div>

            <button type="submit">Create</button>
        </form>
    </div>
</div>

