
input.hidden {
    display: none;
}

body {
    max-width: 75%;
    background-color: #bbbbff;

    margin: 0px auto;
}

header {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;

    border: 2px solid #ff0000;
}

#order {
    margin-left: 2px;

    min-height: 384px;
    width: 48%;
    border: 2px solid #000000;
}

#cat {
    margin-right: 2px;

    min-height: 384px;
    width: 48%;
    border: 2px solid #000000;
}

.noFloats {
    text-align: center;

    padding: 32px;
}

button {
    /* background-image: url("http://theoldreader.com/kittens/600/400/js"); */
    background-color: #6666ff;
}

