
input.hidden {
    display: none;
}

body {
    max-width: 75%;
    background-color: #bbbbff;

    margin: 0px auto;
}

header {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#order {
    min-height: 384px;
    width: 48%;
    border: 2px solid #000000;
}

#cat {
    min-height: 384px;
    width: 48%;
    border: 2px solid #000000;
}

#catPic {
    min-width: 24%;
    border: 2px solid #000000;
    padding: 32px;
}

img {
    margin: 0px auto;
}

.noFloats {
    text-align: center;

    padding: 32px;
}

button {
    background-color: #6666ff;
}

button.hidden {
    display: none;
}

